<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Philaquest testing | Welcome!</title>
</head>
<body>
    Hello!! 
    <br><br>
    <pre>
        If you are coming here for the first time the create an acccount by <a href="signup">clicking here</a> and complete the form.
        

        If you wan tot login to your existing account then please <a href="login">click here</a>
    </pre>
</body>
</html>